.irregular-ellipse {
  width: 100%;
  height: 800px;
  position: relative;
  background-color:  #bfbfbf;
  clip-path: ellipse(
   50% 30% at 50% 90%
  );
  
}
.irregular-ellipse2 {
  width: 100%;
  height: 1500px;
  background-color:  #bfbfbf;
  clip-path: ellipse(
   100% 100% at 50% 40%
  );
}





